body{
    background: #EEEEEE;
    text-align: center;
    font-family: 'M PLUS Rounded 1c';
}
h1{
    text-align: center;
}

@media screen and (min-width:769px){
  img{
    width: 600px;
    height: 300px;
  }
}

@media screen and (max-width: 768px){
  img{
    width: 300px;
    height: 150px;
  }
}


#j-title {
  background-color: #9cc147;
  color: #fafafa;
}

#z-title {
  background-color: #9cc147;
  color: #fafafa;
}

details {
  border: 1px solid #ccc;
  box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.5);
}

details[open] .details-content {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

details:not(:last-child) {
  margin-bottom: 20px;
}

details summary {
  list-style: none;
  cursor: pointer;
  padding: 20px;
  background: #fafafa;
  color: #242323;
  font-size: 2rem;
  font-weight: bold;  
}

details summary:hover {
  background-color: #DCEDC8;
}

details summary::-webkit-details-marker {
  display: none;
}
  
details div {
  margin: 0;
  padding: 20px;
  background: #ffffff;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  pointer-events: none;
  opacity: 0;
  transition: 0.25s ease-out;
}

.show {
  transform: scale(2.0, 2.0) translate(0px, 0px);
}
.modal-wrapper.show {
  opacity: 1;
  pointer-events: all;
}

.modal-image {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  object-fit: cover;
  opacity: 0;
  transition: 0.5s ease-out;
}

.modal-image.show {
  opacity: 1;
}

.wrapper img {
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}
