<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>混雑度チェッカー</title><!--titleはタブの名前(Webページのタイトル)-->
    <link rel="stylesheet" href="static/css/style.css" media="screen">
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/chart.min.js"></script>
    <script src="../static/js/chartjs-plugin-streaming.min.js"></script>
    <script src="../static/js/desvg.min.js"></script>
    <script src="../static/js/holiday.js"></script>
</head>
<body>

    <div class="container-wrapper">
        <div id="j-container">
            <div id="j-title">
                <div><span id="j">J</span> 号館１階食堂</div>
            </div>
            <div>
                <img id="j_merged_num" src="../static/images/empty.png">
            </div>
            <div id="j-people">
                {% if people %}
                    <div class="text-muted" id="h2_j_merged_num">推定人数：{{people.j_merged_num}}</div>
                {% endif %}
            </div>
            <div class="chart">
                <canvas id="jChart"></canvas>
            </div>
        </div>

        <!--Z号館側-->
        <div id="z-container">
            <div id="z-title">
                <div><span id="z">Z</span> 号館２階食堂</div>
            </div>
            <div>
                <img id="z_merged_num" src="../static/images/empty.png">
            </div>
            <div id="z-people">
                {% if people %}
                    <div class="text-muted" id="h2_z_merged_num">推定人数：{{people.z_merged_num}}</div>
                {% endif %}
            </div>
            <div class="chart">
                <canvas id="zChart"></canvas>
            </div>
        </div>
    </div>

</body>
<script>
    setInterval(function () {
        getcurrdata();
    }, 20000);
    setTimeout(function () {
        jChart();
        zChart();
    }, 20000);
</script>
</html>