<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>混雑度チェッカー</title><!--titleはタブの名前(Webページのタイトル)-->
    <link rel="stylesheet" href="static/css/style.css" media="screen">
    <script src="../static/jquery/jquery-3.6.0.min.js"></script>
    <script src="../static/js/script.js"></script>
</head>
<body>
    <div>
        <h1>混雑度チェッカー</h1>
    </div>
    <div id="j-title">
        <h1>J号館１階食堂</h1>
    </div>
    <div>
        <img id="j_merged_num" src="../static/images/empty.png">
    </div>
    <div>
        {% if people %}
            <h2 class="text-muted" id="h2_j_merged_num">{{people.j_merged_num}}</h2>
        {% endif %}
    </div>

    <!--Z号館側-->
    <div id="z-title">
        <h1>Z号館２階食堂</h1>
    </div>
    <div>
        <img id="z_merged_num" src="../static/images/empty.png">
    </div>
    <div>
        {% if people %}
            <h2 class="text-muted" id="h2_z_merged_num">{{people.z_merged_num}}</h2>
        {% endif %}
    </div>
    <div class="details-content">
        <details>
            <summary><img src="/static/icons/map-marked-alt-solid.svg" class="map-icon"> マップ</summary>
            <div>
                <h2>食堂の位置</h2>
                <div class="modal-wrapper">
                    <img src="" class="modal-image">
               </div>

               <div class="wrapper">
                    <img src="/static/images/map.png" class="image" data-src="/static/images/map.png" loading="auto">
                    <p>画像をクリックして拡大</p>
               </div>
               <h2>建物の詳細</h2>
               <a href="https://www.osakac.ac.jp/institution/campus/neyagawa/" target="_blank" rel="noopener noreferrer">寝屋川キャンパス</a>
            </div>
        </details>
    </div>
</body>
<script>
    setInterval(function () {
        getcurrdata();
    }, 5000);
</script>
</html>